* {
    box-sizing: border-box;
}
html,body
{
    background-color: #014f86;
    color: rgb(251, 251, 251);
}

.heading_container {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;

}

.heading {
    margin: 2rem 1rem 0 1rem;
}

.how_to_play_container {
    padding: 0rem 6rem 0rem 6rem;
}

.how_to_play_container > p {
    text-align: center;
}

.scores_area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scores_area > .scores {
    padding: 1rem 6rem 0 6rem;
}
.game_area_container {
    background-color: #a9d6e5;
    max-width: 70vw;
    max-height: 50vh;
    margin: auto;
    padding: auto;
    color: black;
    border-radius: 3rem;
}

.game-area {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 2rem 2rem 2rem;
}

.game_btn {
    max-height: 8rem;
    max-width: 8rem;
}

.game_btn > i {
    

}